{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проданные ароматы</title>
    <link type="image/x-icon" href="{% static 'image/logo.ico' %}" rel="shortcut icon">
    <link type="Image/x-icon" href="{% static 'image/logo.ico' %}" rel="icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "seller/aromat_sold.css" %}">
    <link rel="stylesheet" href="{% static "report/menu.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <nav class="col-sm-12 col-md-12 col-lg-12">
        <div  class="wrapper col-sm-12 col-md-12 col-lg-12" id="wrapper">
            <div class="logo-div">
                <div class="logo"><a href="{% url 'aromat_sold_list' %}" title="Главная"></a></div>
                <div class="welcome-text">
                    <span style="font-weight: bold;">Продавец: </span>
                    <span style="font-weight: normal;">{{ seller_name }}</span>
                </div>
            </div>
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="{% url 'aromat_sold_list' %}">Главная</a></li>
            <li><a href="{% url 'aromat_list_seller' %}">Ароматы</a></li>
            <li><a class="active-nav-links" href="{% url 'aromat_sold' %}">Продано</a></li>
            <li><a href="{% url 'seller_logout' %}" class="fas fa-door-open"></a></li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
    </nav>
    <div class="body col-sm-12 col-md-12 col-lg-12">
        <div class="branch-div col-sm-12 col-md-12 col-lg-12">
            <div class="branch-div-elements"><b>Ваш филиал: </b>{{ branchname }}</div>
        </div>
        <div class="main col-sm-12 col-md-12 col-lg-12">
            <h2 class="title">Проданные ароматы</h2>
            <div class="input-form col-sm-12 col-md-9 col-lg-6">
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
                <form id="myForm" action="{% url 'aromat_sold' %}" method="post">
                    {% csrf_token %}
                    <div class="input-div">
                        {{ form.code.label_tag }}
                        {{ form.code }}
                        {% if form.code.errors %}
                            <div class="error">{{ form.code.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="input-div">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="error">{{ form.name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="input-div">
                        {{ form.size.label_tag }}
                        {{ form.size }}
                        {% if form.size.errors %}
                            <div class="error">{{ form.size.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="input-div">
                        {{ form.cost.label_tag }}
                        {{ form.cost }}
                        {% if form.cost.errors %}
                            <div class="error">{{ form.cost.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="input-div">
                        {{ form.paymenttype.label_tag }}
                        {{ form.paymenttype }}
                        {% if form.paymenttype.errors %}
                            <div class="error">{{ form.paymenttype.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="input-div">
                        {{ form.coment.label_tag }}
                        {{ form.coment }}
                        {% if form.coment.errors %}
                            <div class="error">{{ form.coment.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="input-div">
                        <button type="submit" onclick="confirmSubmit()" class="button">Продано</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
    $(document).ready(function() {
        const aromatData = {
            {% for aromat in aromats %}
                '{{ aromat.code }}': '{{ aromat.name }}',
            {% endfor %}
        };

        const aromatDataReverse = {
            {% for aromat in aromats %}
                '{{ aromat.name }}': '{{ aromat.code }}',
            {% endfor %}
        };
        
        $('#id_code').on('change', function() {
            const selectedCode = $(this).val();
            const selectedName = $('#id_name');
            if (aromatData[selectedCode]) {
                selectedName.val(aromatData[selectedCode]);
            } else {
                selectedName.val('');
            }
        });
        
        // Обработчик изменения выбранного названия аромата через Select2
        $('#id_name').on('select2:select', function(e) {
            const selectedName = $(this).val();
            const selectedCode = $('#id_code');
            if (aromatDataReverse[selectedName]) {
                selectedCode.val(aromatDataReverse[selectedName]).trigger('change'); // Добавляем вызов события change
            } else {
                selectedCode.val('').trigger('change'); // Добавляем вызов события change
        }
        });
        
        // Инициализация Select2 для поля выбора кода аромата
        $('#id_code').select2({
            placeholder: 'Введите код аромата',
            allowClear: true,
            minimumInputLength: 1, // Минимальное количество символов для начала поиска
            dropdownParent: $('#id_code').parent(), // Установка контейнера для выпадающего списка
            language: {
                inputTooShort: function() {
                    return 'Пожалуйста, введите 1 или более символов';
                }
            }
        });
    });
    </script>
    

    

    <script>
        function confirmSubmit() {
            if (confirm("Вы уверены, что ввели правильные данные?")) {
                document.getElementById("myForm").submit();
            } else {
                event.preventDefault();
            }
        }
    </script>
</body>
</html>